/* components/FAQ.module.css */
.faqContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.faqContainer h2 {
  color: var(--color-dark-blue);
  margin-bottom: clamp(20px, 3vh, 3vh);
  text-align: center;
}
.faqTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.faqItem {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.faqQuestion {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.faqIcon {
  font-size: 20px;
}

.faqAnswer {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
  text-align: left;
}
