.sectionProjectSlider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: clamp(80px, 7vh, 7vh) 0;
  color: var(--color-white);
  background-image: url("../../public/projectBgHome.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sectionProjectSlider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.rowProjectSlider {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  column-gap: 4vw;
}
.columnProjectSlider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: clamp(15px, 2vh, 2vh);
}
.rowProjectSlider .columnProjectSlider:nth-child(2) {
  justify-self: flex-end;
}
.columnProjectSlider h2 {
  font-size: clamp(22px, 2.5vw, 2.5vw);
  font-weight: normal;
  color: var(--color-white);
}
.columnProjectSlider p {
  font-size: clamp(15px, 1vw, 1vw);
  font-weight: normal;
  color: var(--color-white);
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #f5831f;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #fff;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #f5831f;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

/* Slider.module.css */
.sliderWrapper {
  position: relative;
  width: 100%; /* As seen in your image */
  height: 80vh;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  column-gap: 15px;
}

.slide {
  flex: 0 0 calc(50% - 5px);
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: clamp(10px, 1vw, 1vw);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 52%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.prevButton,
.nextButton {
  background-color: var(--color-dark-blue);
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.prevButton:hover,
.nextButton:hover {
  background-color: var(--color-white);
  color: var(--color-dark-blue);
}

/* resposive-css-starts-here */
@media only screen and (min-width: 1025px) {
  /* .sectionProjectSlider {
    padding-top: 20vh;
  } */
  .rowProjectSlider .columnProjectSlider:nth-child(1) {
    max-width: 35vw;
  }
}
@media only screen and (max-width: 768px) {
  .rowProjectSlider {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .slide {
    flex: 0 0 100%;
  }
  .sectionProjectSlider {
    height: 100% !important;
  }
  .sliderWrapper {
    height: auto !important;
  }
  .navigation {
    left: 80%;
  }
}
