.scrollSectionOuter {
  overflow: hidden;
}

.scrollSectionInner {
  height: 100vh;
  width: 200vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scrollSection {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* about-section-css */
.sectionAbout {
  position: relative;
  padding-top: 13vh;
  height: 100%;
  width: 100%;
  background: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.aboutContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(330px, 33vw, 33vw);
  height: clamp(330px, 33vw, 33vw);
  color: white;
  padding: 0 clamp(40px, 5vw, 5vw);
  border: solid 1px #fff;
  border-radius: 100%;
  text-align: center;
}
.aboutHeading {
  font-size: clamp(25px, 3vw, 3vw);
  margin-bottom: clamp(10px, 2vh, 2vh);
  font-weight: 400;
}
.aboutDescription {
  font-size: clamp(14px, 1vw, 1vw);
  margin-bottom: clamp(12px, 4vh, 4vh);
  text-align: justify;
}
/* From Uiverse.io by alexmaracinaru */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #f5831f;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #fff;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #f5831f;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

/* about-section-two */
.sectionAboutTwo {
  position: relative;
  padding-top: 13vh;
  height: 100%;
  width: 100%;
  background: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.circlesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.circlesRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circlesRow .circle:not(:first-child) {
  margin-left: clamp(-7px, -1vw, -1vw);
}
.circle {
  position: relative;
  width: clamp(110px, 15vw, 15vw);
  height: clamp(110px, 15vw, 15vw);
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: clamp(12px, 1.2vw, 1.2vw);
  text-align: center;
  font-weight: 300;
}

.circle:hover {
  background: #fff;
  color: var(--color-dark-blue);
  border: 1px solid #fff;
}

.circle {
  opacity: 0; /* Start as invisible */
  transform: translateY(200px); /* Start down for the animation */
  transition: opacity 0.5s, transform 0.5s; /* Add transitions for smoothness */
}

.circleText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* responsive-css-starts-here */
@media only screen and (max-width: 768px) {
  /* .circlesRow {
    flex-direction: column;
  } */
}
